<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/transaction.css">
<link rel="stylesheet" href="/css/login.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
            <%- include('includes/transaction_ticker.ejs') %>
            <form class="login-form" name="transaction" action="" method="POST">
                <div class="form-control">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity">
                </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <input type="hidden" name="transactionTicker" id="main-form-ticker">
                <input type="hidden" name="transactionPrice" id="main-form-price">
                <button type="submit" name="transaction" id="transaction" >Buy</button>
            </form>
    </main>
<script src="/js/find_stock.js"></script>
<%- include('includes/end.ejs') %>